.header {
    display: flex;
    background-color: pink;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__left-side {
    display: flex;
}

.header__right-side {
    display: flex;
}